/*style the overall page*/
html body div {
  font-family: "Helvetica Neue";
  margin: 0;
  padding: 0;
  background-color: #DDDDDD;
}

/*remove margin and padding of all columns and rows*/
.row, .col {
  margin: 0;
  padding: 0;
}

/*use flex display to set the footer at the bottom of the page*/
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1 0 auto;
}

#footer {
  background-color: #DDDDDD;
  flex-shrink: 0;
  padding-top: 30px;
}

/*style team members section*/
#teamSection {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue";
  font-weight: bold;
}

/*style the data source section and observation section*/
p,h6 {
  margin-left: 50px;
  margin-bottom: 0;
  text-decoration: underline;
}

ul {
  margin-left: 25px;
}

#dataSource li {
  font-size: 12px;
}

#observationSection, #observatiobns {
  color: #DDDDDD;
  font-family: "Helvetica Neue";
}

/*when mouse over title, change it to pointer*/
#title {
  cursor: pointer;
  font-weight: bold;
}

/*style bubble chart area*/
.circle { 
  stroke: #000; 
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.yearLabel {
  fill: gray;
}

.overlayBox {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}

/*style d3 tool tips*/
.d3-tip {  
  font-size: 14px;
  line-height: 1.2;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 3px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/*style extra chart areas*/
#extraChartSection {    
  margin-top: 50px;
}

.barValues {
  font-weight: bold;
}

hr {
  border-color: white;
  height: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*style buttons*/
#playButton {
  position: relative;
  left: 80px;
  background: #ddd;
  padding-left: 7px;
  border-radius: 3px;
  width: 45px;
  cursor: pointer;
  height: 25px;
}

#barButton {
  position: absolute;
  top: 60px;
  left:9px;
  background: #4682B4;
  padding-left: 7px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  width: 30px;
  cursor: pointer;
  height: 20px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

#pieButton {
  position: absolute;
  top: 60px;
  left:40px;
  background: #4682B4;
  padding-left: 7px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  width: 30px;
  cursor: pointer;
  height: 20px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

/*initially buttons are hidden when the class is inactive*/
.inactive {
  display: none;
}

/*style the y axis of bar charts*/
.barYAxis line {
  stroke: #DDDDDD;
}

.barYAxis path {
  stroke: #DDDDDD;
}

.barYAxis {
  font-family: "Helvetica Neue";
  font-weight: bold;
}

/*style the label and text of the pie chart*/
.crimeType{
  font-weight: bold;
  font-size: 18px;
  fill: red;
}

.crimePercent{
  font-weight: bold;
  font-size: 14px;
  fill: red;
}

/*style map section and popups*/
#mapSection {
  margin-left: 50px;
  margin-right: 0;
}

.leaflet-popup-content-wrapper {
  color:"black";
  font-size:1px;
  line-height:24px;
  border-radius: 6px;
  text-align: center;
}

.leaflet-popup-tip-container {
  width:0px;
  height:0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  background-color: transparent;
}

.leaflet-popup-tip {
  border: none;
  box-shadow: none;
}