html body div {
  font-family: "Helvetica Neue";
  margin: 0;
  padding: 0;
  background-color: #DDDDDD;
}

.row, .col {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

p,h6 {
  margin-left: 50px;
  margin-bottom: 0;
  text-decoration: underline;
}

ul {
  margin-left: 25px;
}

.row {
  flex: 1 0 auto;
}

#title {
  cursor: pointer;
  font-weight: bold;
}

#footer {
/*  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;*/
  background-color: #DDDDDD;
  flex-shrink: 0;
  padding-top: 30px;
}

#dataSource li {
  font-size: 12px;
}

#observationSection, #observatiobns {
  color: #DDDDDD;
  font-family: "Helvetica Neue";
}

#teamSection {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue";
  font-weight: bold;
}

.barValues {
  /*font-size: 11px;*/
  font-weight: bold;
}

#extraChartSection {
    
    margin-top: 50px;
}

.circle { stroke: #000; }

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.yearLabel {
/*    font-size: 160px;*/
    fill: gray;
}

.overlayBox {
    fill: none;
    pointer-events: all;
    cursor: ew-resize;
}

.overlay_e {
    fill: none;
    pointer-events: all;

}

.d3-tip {
  
  font-size: 14px;
  line-height: 1.2;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 3px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

hr {
  border-color: white;
  height: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#playButton {
  position: relative;
  left: 80px;
  background: #ddd;
  padding-left: 7px;
  border-radius: 3px;

  width: 45px;
  cursor: pointer;
  height: 25px;
}

#barButton {
  position: absolute;
  top: 75px;
  left:9px;
  background: #4682B4;
  padding-left: 7px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;

  width: 30px;
  cursor: pointer;
  height: 20px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}



#pieButton {
  position: absolute;
  top: 75px;
  left:40px;
  background: #4682B4;
  padding-left: 7px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;

  width: 30px;
  cursor: pointer;
  height: 20px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.inactive {
  display: none;
}

.barYAxis line {
  stroke: #DDDDDD;
}

.barYAxis path {
  stroke: #DDDDDD;
}

.barYAxis {
  font-family: "Helvetica Neue";
 /* font-size: 13px;*/
  font-weight: bold;
}

/*#extra_Chart {
  height: 300px;
}*/

.crimeType{
  font-weight: bold;
  font-size: 18px;
  fill: red;
}

.crimePercent{
  font-weight: bold;
  font-size: 14px;
  fill: red;
}

#mapSection {
/*  height: 300px;
  width: 500px;*/
  margin-left: 50px;
  margin-right: 0;
  /*height: 100%;*/
}

.leaflet-popup-content-wrapper {
  color:"black";
  font-size:1px;
  line-height:24px;
  border-radius: 6px;
  text-align: center;
  }

.leaflet-popup-tip-container {
  width:0px;
  height:0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  background-color: transparent;
  }
.leaflet-popup-tip {
    /*background: "red";*/
    border: none;
    box-shadow: none;
  }



